
.flex-container {
    display: flex;
    justify-content: space-between;
}
header nav li {
    display: inline-block;
}
header{ justify-content: flex-end ;
    background-color: rgb(255, 255, 255);
    padding: 20px;

color:rgb(0, 0, 0);

}
header nav li{display: inline;}
:hover{color:rgb(0, 0, 0);}
*{margin: 0;
padding: 0;}

header input {border-radius: 20px; ;
padding: 5px 10px ;width: 3000px; justify-content: flex-end;}
img{width:  100px;}
header img{width: 90px;padding: 10px;}
*{margin: 0px; padding: 0px;}
body{
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
nav{display: flex; justify-content: flex-end;}

video{
    width: 100%;
}